body {
  background-color: beige;
  width: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}

#box-one {
  border: dashed 5px;
  border-color: black darkolivegreen darkolivegreen black;
  width: 400px;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;

}

#box-two {
  border: dashed 5px;
  border-color: black darkolivegreen darkolivegreen black;  
  width: 400px;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;

}
#box-3 {
  border: dashed 5px;
  border-color: black darkolivegreen darkolivegreen black;  
  width: 400px;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;

}

h1 {
  font-size: 40px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  border: dashed 5px;
  border-radius: 5px;
  border-color: black darkolivegreen darkolivegreen black;  
  width: 400px;
}

h2 {
  font-size: 24px;
  text-align: center;
}

ul  {
  list-style-type: square;
  padding-left: 45px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 45px;
}





