body {
  background-color: beige;
  width: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}
/* Div Styles */
#box-one {
  border: dashed;
  width: 400px;

}
#box-two {
  border: dashed;
  width: 400px;

}
#box-3 {
  border: dashed;
  width: 400px;
}
/* Headers */
h1 {
  font-size: 40px;
  text-align: center;
  background-color: darkgrey;
  border: groove;
  border-color: rgb(100, 28, 28); 
}

h2 {
  font-size: 24px;
  text-align: center;
}
/* Unordered lists */
ul li:: {
  list-style-type: square;
}





